@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-transform:capitalize ;

}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #111;
}

h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 1px 1px 4px #777;
    z-index: 1000;
}
.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;

}
.navbar .container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;

}
.navbar .nav-socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.navbar .nav-socials .s-link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
    font: 16px;
    color: #eee;
    cursor: pointer;
}
.navbar .nav-socials a:hover {
    background-color: #fff;
    color: #444;
}
#bars{
    display: none;
}
    .btn-bars {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #444;
        font: 16px;
        color: #eee;
        cursor: pointer;
    }
    .btn-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #444;
        font: 16px;
        color: #eee;
        cursor: pointer;
    }
    .navbar .navigation {
        position: fixed;
        top: 0;
        right: -450px;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        z-index: 1000;
        transition:all 2s;

    }
    #bars:checked~.navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        z-index: 1000;

    }
    .navbar .navigation ul{
 
        width: 100%;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.6rem;
        z-index: 100;

    }
    .navbar .navigation li{
        height: fit-content;
    }
    .navbar .navigation a{
        font-size: 20px;
        font-weight: 500;
        letter-spacing:3px ;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 0.5rem;
       
    }
.cons .vid-con{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.vid-con .vid{
    height: 15rem;
    width: 25rem;
    margin: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 1rem;
}
.vid-con .vid video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: none;
    border: none;
    cursor: pointer;
}
.vid-con .vid video:hover{
    transition: .1s linear;
    transform: scale(1.2);
}
.vid-con .vid .active{
    position: fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    height:auto;
    width:80%;
    box-shadow: 0 0 0 100vh rgba(0, 0, 0, .7);
    z-index: 1;
}
.vid-con .vid .active:hover{
    transition: none;
    transform:translate(-50%, -50%) scale(1);
}
