@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #111;
}

h1,h2,h3,h4 {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 1px 1px 4px #777;
    z-index: 1000;
}
.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;

}
.navbar .container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;

}
.navbar .nav-socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}
.navbar .nav-socials .s-link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
    font: 16px;
    color: #eee;
    cursor: pointer;
}
.navbar .nav-socials a:hover {
    background-color: #fff;
    color: #444;
}
.header {
    background: linear-gradient(to bottom, #111, #000000aa), url(Dubai4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}    
.header .container .card h1 {
    font-size: 40px;
    font-weight: 800;
    color: #0270ba;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-background-clip:inherit ;
    -webkit-text-fill-color: transparent;
    -webkit-backdrop-filter: blur(55px);
    -webkit-text-stroke: 0.2px #eee;
}

.header .container .card h3 {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    padding-top: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
}

.header .container .card-tags {
    padding-top: 4rem;
    text-decoration: none;
}

.header .container .card-tags h2 {
    font-size: 18px;
    font-weight: 400;
    color: #eee;
    text-decoration: none;
}

.header .container .card-tags .tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    max-width: 700px;
    padding: 1rem 0rem;
    text-decoration: none;
}
.header .container .items .card-tags .tags span a{
    text-decoration: none;
    color: #eee;
}
.header .container .card-tags .tags span {
    background-color: #000000aa;
    border-left: 4px solid #a3d6f7;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #eee;
    padding: 1.2rem 2.4rem;
    padding-left: 0.5rem;
    transition: all 1s;
    cursor: pointer;
}
.header .container .card-tags .tags span:hover {
    padding: 1.2rem 0.5rem;
    padding-left: 2.4rem;
}

#bars{
    display: none;
}
    .btn-bars {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #444;
        font: 16px;
        color: #eee;
        cursor: pointer;
    }
    .btn-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #444;
        font: 16px;
        color: #eee;
        cursor: pointer;
    }
    .navbar .navigation {
        position: fixed;
        top: 0;
        right: -450px;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        z-index: 1000;
        transition:all 2s;

    }
    #bars:checked~.navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        z-index: 1000;

    }
    .navbar .navigation ul{
 
        width: 100%;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.6rem;
        z-index: 100;

    }
    .navbar .navigation li{
        height: fit-content;
    }
    .navbar .navigation a{
        font-size: 20px;
        font-weight: 500;
        letter-spacing:3px ;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 0.5rem;
       
    }
    
    footer{
        margin-top: 1in;
    }
    .footercointer{
        width: 100%;
    }
    .socialicons{
        display: flex;
        justify-content: center;
    }
    .socialicons a{
        text-decoration: none;
        padding: 10px;
        background-color: white;
        margin: 10px;
        border-radius: 50%;
    }
    .socialicons a i{
        font-size: 2em;
        color: #000000;
        opacity: 0.9;
    }
    .socialicons a:hover{
        background-color: #fffdfd00;
        transition: 0.5s;
    }
    .socialicons a:hover i{
        color: white;
        transition: 0.5ss;
    }
    .fotbot{
        background-color:rgb(215, 239, 250);
        padding: 20px;
        text-align: center;
    }
    .fotbot p{
        color: black;
        font-size: 100%;
    }
    @media only screen and (max-width: 767px){
        body{
            overflow: auto;
        }
        .main{
            flex-direction: column;
            align-items: center;
        }
    }