@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@200;300;400;500&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}


html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #111;
    overflow: hidden;
}

h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 1px 1px 4px #777;
    z-index: 1000;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;

}

.navbar .container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;

}

.navbar .nav-socials {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.navbar .nav-socials .s-link {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444;
    font: 16px;
    color: #eee;
    cursor: pointer;
}


.navbar .nav-socials a:hover {
    background-color: #fff;
    color: #444;
}

#bars{
    display: none;
}
    .btn-bars {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #444;
        font: 16px;
        color: #eee;
        cursor: pointer;
    }
    .btn-close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #444;
        font: 16px;
        color: #eee;
        cursor: pointer;
    }
    .navbar .navigation {
        position: fixed;
        top: 0;
        right: -450px;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        z-index: 1000;
        transition:all 2s;

    }
    #bars:checked~.navigation {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 450px;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        z-index: 1000;

    }
    .navbar .navigation ul{
 
        width: 100%;
        height: 100vh;
        min-height: 500px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.6rem;
        z-index: 100;

    }
    .navbar .navigation li{
        height: fit-content;
    }
    .navbar .navigation a{
        font-size: 20px;
        font-weight: 500;
        letter-spacing:3px ;
        text-transform: capitalize;
        color: #fff;
        margin-bottom: 0.5rem;
       
    }

.cons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}
#slide{
    width: max-content;
    margin-top: 50px;
}
.item{
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display:inline-block;
    transition: 0.5s;
    background-size: cover;
    z-index: 1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left: 0;
    top: 0;
    transform: translate(0,0);
    border-radius:  0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}
.item:nth-child(3){
    left: 50%;
}
.item:nth-child(4){
    left: calc(50% + 220px);
}
.item:nth-child(5){
    left: calc(50% + 440px);
}
.item:nth-child(n+6){
    left: calc(50% + 440px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    text-align: left;
    padding: 0;
    color: #eee;
    transform: translate(0,-50%);
    display: none;
}